@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

//-- Primary
$primary:hsl(215, 51%, 70%);
$secondary:hsl(178, 100%, 50%);

//-- Neutral
$mainBG:hsl(217, 54%, 11%);
$cardBG:hsl(216, 50%, 16%);
$line:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);

//-- Typography
$font-size:18px;
$font-family: 'Outfit', sans-serif;
$font-weight300:300;
$font-weight400:400;
$font-weight600:600;
